@model EmployeeDetailsViewmodel


<h1 align="center">@Model.PageTitle</h1>

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
            </div>

            <div class="card-body text-center">
                <h4>Employee ID : @Model.Employee.EmployeeId</h4>
                <h4>Email : @Model.Employee.Email</h4>
                <h4>Department : @Model.Employee.Department</h4>
                <h4>Town: @Model.Town</h4>

            </div>

            <div class="card-footer text-center">

                <a asp-controller="Employees" asp-action="Delete" asp-route-id="@Model.Employee.EmployeeId"
                   class="btn btn-danger m-1">Delete</a>

                <a asp-controller="Employees" asp-action="EditEmployee" asp-route-id="@Model.Employee.EmployeeId"
                   class="btn btn-primary m-1">Edit</a>

                <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>



