@model EmployeeDetailsViewmodel 

    <h1>@Model.PageTitle</h1>

    <div>
        Name: @Model.Employee.Name
    </div>
    <div>
        Email: @Model.Employee.Email
    </div>
    <div>
        Department: @Model.Employee.Department
    </div>
    <div>
        Town: @Model.Employee.Town.Name
    </div>
